[submodule "fpgaconvnet-model"]
	path = fpgaconvnet-model
	url = https://github.com/AlexMontgomerie/fpgaconvnet-model.git
[submodule "fpgaconvnet-hls"]
	path = fpgaconvnet-hls
	url = https://github.com/AlexMontgomerie/fpgaconvnet-hls.git
[submodule "samo"]
	path = samo
	url = https://github.com/AlexMontgomerie/samo.git
